@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  width: 25%;
	height: 50px;
	text-align: center;
	margin:0 10px;
	border-radius: 25px;
	font-weight: bold;
	border:2px solid #885b50;
	background: #885b50;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
input[type=submit]:hover {
  background: #AC8484;
	border: 2px solid #fff;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.container2 {
  padding: 0 6px;
}
.footer {
  padding: 60px 0 20px;
  font-size: 14px;
  background-color: #000;
  color: #8a8a8a;
}
.address h3{
  color: #fff;
	text-align: center;
}
.phone h3{
  color: #fff;
	text-align: center;
}
.email h3{
  color: #fff;
	text-align: center;
}
.address,.Phone,.Email{
	min-width: 250px;
	margin-bottom: 20px;
}

ul{
	list-style-type: none;
	text-align: center;
}
.address img{
  width:100px;
}
.phone img{
  width:100px;
}
.email img{
  width:100px;
}
.pic1{
	float:center;
}

	
	